
#fixed{
    position: fixed;
    left:2vw;
    top:1.5vh; 
    color: white;
}  
#shead{
    height: 6vh;
    line-height: 6vh;
    font-size:  1.8rem;
    text-align: center;
    color: white;
    background-color: rgb(48, 144, 232);
    margin-bottom: 2vh;
}
#sub{
    text-align: center;
    background-color: white;
}
#sub>input{
    width:90vw;
    height: 4vh;
    font-size: 1rem;
    margin:2vh 0 2vh 0;
    border:0.01rem solid gray;
}
#sub>button{
    height:5vh;
    width:80vw;
    margin:0 0 1vh 2vw;
    background-color:rgb(48, 144, 232);
    border: 0;
    color: white;
    font-size: 1.3rem; 
}
#his{
    height: 4vh;
    line-height: 4vh;
    margin-left: 2vw;
    font-size:  1.5rem;
}
.record>p{
    margin: 1vh 0 1vh 2vw;   
}
.record>p:nth-of-type(1){
    font-size:  1.2rem;
}
.record>p:nth-of-type(2){
    font-size:  1rem;
    padding-bottom: 1vh;
    border-bottom:0.02rem solid gray;
}
#delete{
    width:90%;
    height: 5vh;
    line-height: 5vh;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    background-color: rgb(48, 144, 232);
}
